*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;  /* ширина scrollbar */
}
*::-webkit-scrollbar-track {  
  background: rgba(0, 0, 0, 0.2); /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  border: 1px solid #000;   /* padding вокруг плашки */
  border-radius: 4px;        /* закругления плашки */
  background: rgba(90, 90, 90);  /* цвет плашки */
}

html {
  block-size: 100%;
}

body {
  overflow: overlay;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-inline: auto;
  margin-block: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

/* --- start section result --- */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
 border: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font: 400 18px / 1.2 'Fira Sans Condensed', sans-serif;
}

.search-form__label {
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.search-form__label-text {
  cursor: pointer;
  appearance: none;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font: 700 18px / 1.2 'Fira Sans Condensed', sans-serif;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

/* --- end section result ---
   --- start section content__details --- */

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  font: 700 75px / 0.94 Oswald, sans-serif;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%; 
}

.content__video-card-title {
  font: 700 30px / 1 Oswald, sans-serif;
  text-transform: uppercase;
}

.content__video-card-description {
  font: 400 18px / 0.9 'Fira Sans Condensed';
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px; 
}

.more-button {
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

